.add-task,
.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.add-task * {
  margin: 10px 0px;
}
input {
  padding: 5px;
}
button {
  padding: 5px;
  cursor: pointer;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 10px;
  border: 1px solid black;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
ul li {
  font-size: 1.5rem;
}